#carousel_company_swiper {
  width: 90%;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 150px;
}

.carousel_wrapper_item {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.carousel_img_wrapper {
  width: 40%;
}
