.our_team_page_wrapper {
  margin: 80px auto 80px;
  padding: 80px;
}

.our_team_page_img {
  height: 400px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin-bottom: 10%;
}

.our_team_page_img img {
  margin-top: -10%;
}

.our_team_page_button_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.our_team_page_button_wrapper button {
  width: 20%;
  height: 60px;
  font-size: 23px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.our_team_page_button_wrapper button:hover {
  background-color: rgb(166, 166, 166);
  transition: 0.3s;
}
